<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendance"
    xmlns:tools="http://schemas.android.com/tools">



    <application
        android:label="attendance"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode|touchscreen"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:configChanges">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>